<h1>Image Difference Challenge</h1>
        <p>The challenge consists of two tasks divided into two phases:</p>

        <h2>1) Difference Image Selection Task</h2>
        <p>The input for this task consists of two images, along with a text describing the differences between the image pair. The objective is to choose which of the two images contains a change described in the text.</p>
        <p><strong>Evaluation Metric:</strong></p>
        <ul>
            <li>Accuracy (as it’s a binary classification task)</li>
        </ul>
