        <p>
            The detailed differences among similar objects, such as attributes like the arrangement and quantity of parts, composition of components, shape, size, and texture, are crucial in various applications such as pick-and-place robotic tasks in warehouses or anomaly detection in production lines. These applications require distinguishing between similarly looking objects with high precision.
        </p>
        <p>
            Existing recognition models have focused on drastic changes between image pairs: for example, the addition or removal of objects or people, changes in position, and discrete changes in color or shape between two images. However, these models address only simple, discrete changes and not the more complex, continuous differences such as slight variations in shape, color, or texture. 
        </p>
        <p>
            Therefore, for this challenge, we propose to work on two tasks for subtle difference recognition (see Figure 1). These tasks target highly similar image pairs with only subtle differences between object attributes, including color, shape, and texture.
        </p>
        <div class="image-container">
            <img src="picture_challenge_1.png" alt="Figure 1: Examples of subtle difference recognition tasks">
            <p>Figure 1: Examples of subtle difference recognition tasks</p>
        </div>
